* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: rgb(75, 103, 156);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;

	#logo {
		img {
			width: 150px;
			display: block;
			margin: auto;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		display: inherit;

		li {
			margin: 10px 20px;

			a {
				margin: 0;
				text-decoration: none;
				color: rgb(190, 204, 229);
				text-transform: uppercase;
				font-weight: bold;
				transition: .2s;

				&:hover {
					color: black;
				}
			}
		}
	}

	#login {
		button {
			margin: 20px;
			text-align: center;
			color: #000;
			background-color: rgb(190, 204, 229);
			outline: none;
			padding: 10px 20px;
			border: 2px solid rgb(190, 204, 229);
			font-weight: bold;
			border-radius: 10px;
			transition: .2s;

			&:hover {
				cursor: pointer;
				background-color: transparent;
				color: rgb(190, 204, 229);
			}
		}
	}
}


section#home {
	.container {
		#blok1 {
			margin: 50px 0 50px 0;

			h1 {
				text-align: center;
				font-size: 50px;
				text-transform: uppercase;
				font-weight: bold;
			}

			.col-md-6 {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}

		}
	}
}

footer {
	background-color: rgb(75, 103, 156);
	padding: 20px;

	p {
		text-align: center;
		font-size: 30px;
		color: #fff;
	}

	.row {
		#menu {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			h2 {
				color: #fff;
				margin-bottom: 20px;
			}
			ul {
				list-style: none;
				li {
					a {
						color: #fff;
						font-size: 40px;
						text-decoration: none;
						transition: .2s;
						margin: 20px;

						&:hover {
							color:#d3d3d3;
						}
					}
				}
			}
		}

		#forma {

			form {
				text-align: center;
				margin: auto;
				width: 400px;

				.form-control {
					background-color: transparent;
					border: none;

					label {
						color: #d3d3d3;
					}

					input {
						padding: 10px;
						border-radius: 10px;
						border: 2px solid rgb(190, 204, 229);
						outline: none;
						transition: .2s;

						&:focus {
							border: 2px solid black;
						}

					}

					textarea {
						padding: 10px;
						border-radius: 10px;
						border: 2px solid rgb(190, 204, 229);
						outline: none;
						transition: .2s;

						&:focus {
							border: 2px solid black;
						}
					}
				}

				button {
					margin: 20px;
					text-align: center;
					color: #000;
					background-color: rgb(190, 204, 229);
					outline: none;
					padding: 10px 20px;
					border: 2px solid rgb(190, 204, 229);
					font-weight: bold;
					border-radius: 10px;
					transition: .2s;

					&:hover {
						cursor: pointer;
						background-color: transparent;
						color: rgb(190, 204, 229);
					}
				}
			}
		}
	}
}


.active {
	font-weight: bolder;
	color: #000;
}

.banner {
	height: 200px;
	background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/coding.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}